* {
    margin: none;
    padding: none;
    list-style: none;
}

html {
    font-family: 'Pacifico', cursive;
    color: goldenrod;
    font-size: 20px;
}

body {
    background-image: url("crop.jpeg");
    background-size: cover;
}

article {
    display: flex;
    flex-direction: column;
    text-align: center;
}

button {
    width: 15%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%)
}

p {
    text-align: center;
    position: absolute;
    bottom: 10.5vh;
    background-color: black;
    left: 50%;
    transform: translateX(-50%);
}